.header {
  max-width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.open-work {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
}

.header-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 10px;
  color: #dbe6e7;
  text-decoration: none;
  display: block;
}

.header-menu a:hover {
  border-radius: 15px;
  background: linear-gradient(180deg, #7c1b00, #e35c36);
}

@media (max-width: 1090px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
  }

  .header-left {
    flex-direction: column;
    align-items: center;
  }

  .open-work {
    position: static;
    transform: none;
    margin-top: 10px;
  }

  .header-menu a {
    background: linear-gradient(#88c2c7, #add3d7);
    border-radius: 15px;
    color: #031719;
  }
}

@media (max-width: 500px) {
  .header-menu a {
    font-size: 1.125rem;
  }
}
